*{
    font-family: 'Roboto', sans-serif;   
}
.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;
}
.header {
    background-image: url(../assets/header-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // .header__wrapper

    &__wrapper {
    }

    // .header__top

    &__top {
        background-color: black;
        
    }

    // .header__top-wrap

    &__top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    // .header__top-text

    &__top-text {
        color: white;
        font-weight: 800;
        font-size:clamp(0.75rem, 0.659rem + 0.45vw, 1rem);

    }

    // .header__top-links

    &__top-links {
        display: flex;
        gap: 25px;
    }

    // .header__top-link

    &__top-link {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;

    }

    // .header__mid

    &__mid {
    }

    // .header__mid-wrap

    &__mid-wrap {
        display: flex;
        justify-content: space-between;
    }

    // .header__mid-nav

    &__mid-nav {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    
    // .header__mid-link
    
    &__mid-link {
        font-size: 20px;
        font-weight: 900;
        color: black;
    }

    // .header__logo

    &__logo {
        max-width: 280px ;
        width: 100%;
    }

    // .header__mid-btn

    &__mid-btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        color: black;
        font-weight: 900;

    }

    // .header__main

    &__main {
        background-color: #F6F6F7;
    }

    // .header__main-links

    &__main-links {
        display: flex;
        gap: 25px ;
        padding: 15px 0;
    }

    // .header__main-link

    &__main-link {
        font-size: 18px;
        color: black;
        font-weight: 900;
    }
}




.hero {
    background-image: url(../assets/hero-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // .hero__wrapper

    &__wrapper {
    }

    // .hero__wrapper-title

    &__wrapper-title {
        margin: 348px 0 83px;
        text-align: center;
        font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
        color: white;
        background-color: #141414;
        padding: 15px 30px;
    }
}

.about {
    margin-top: 100px;
    background-image: url(../assets/about-rectangle.png);
    background-repeat: no-repeat;
    background-color: cover;
    background-position: center;
    
    // .about__wrapper
    
    &__wrapper {
        background-color: #F6F6F7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    // .about__logo

    &__logo {
        max-width: 600px;
        width: 100%;
    }

    // .about__wrapper-content

    &__wrapper-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 564px;
    }

    // .about__title

    &__title {
        font-size: 32px;
        color: #FBCC00;
        font-weight: 900;
    }

    // .about__text

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: #141414;
    }
}


.footer {
    margin-top: 100px;
    background-image: url(../assets/header-bgi.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    // .footer__wrapper
    
    &__wrapper {
        padding: 100px;
    }
    
    // .footer__rows
    
    &__rows {
        display: flex;
        justify-content: space-between;
    }

    // .footer__row

    &__row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .footer__logo

    &__logo {
        max-width: 300px;
        width: 100%;
    }

    // .footer__info

    &__info {
        font-weight: 900;
        font-size: 12px;
    }

    // .footer__contact

    &__contact {
        font-weight: 900;
        font-size: 16px;
    }

    // .footer__phone

    &__phone {
        font-size: 20px;
        font-weight: 900;
    }

    // .footer__text

    &__text {
        font-size: 12px;
        font-weight: 500;
    }

    // .footer__email

    &__email {
        font-size: 20px;
        font-weight: 900;
        display: flex;
        align-items: center;
    }

    // .footer__link

    &__link {
        font-weight: 900;
        color: black;
    }

    // .footer__lan

    &__lan {
        color: black;
        font-weight: 900;
        font-size: 20px;
        span{
            color: white;
        }
    }

    // .footer__soc

    &__soc {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        font-weight: 900;
        font-size: 14px;
    }
}


.why {

    // .why__wrapper

    &__wrapper {
    }

    // .why__arrows

    &__arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .why__arrow-why

    &__arrow-why {
        background-image: url(../assets/rectangle-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 20px ;
        max-width: 345px;
        width: 100%;
    }

    // .why__arrow-title

    &__arrow-title {
        font-size: 30px;
        font-weight: 900;

    }

    // .why__arrow

    &__arrow {
        background-image: url(../assets/bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 50px;
        display: flex;
        align-items: center;
        max-width: 345px;
        width: 100%;
    }

    // .why__arrow-num

    &__arrow-num {
        font-size: 48px;
        font-weight: 900;
    }

    // .why__arrow-content

    &__arrow-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    // .why__content-title

    &__content-title {
        font-weight: 900;
        font-size: 16px;
    }

    // .why__content-text

    &__content-text {
        font-size: 12px;
        font-weight: 500;
    }
}

.pag {

    &__wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;

    }

    // .pag__text

    &__text {
        font-weight: 900;
        background-color: #141414;
        padding: 15px 30px;
        color: white;
    }

    // .pag__num

    &__num {
        font-weight: 900;
        background-color: #141414;
        padding: 15px 22px;
        color: white;
    }
}

.about2 {

		// .about__inner

		&__inner {
		}

		// .about__wrapper-title

		&__wrapper-title {
            font-size: 32px;
            font-weight: 900;
            margin: 25px 0;
		}
}


.market {
    margin: 100px 0;
    // .market__wrapper

    &__wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    // .market__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .market__title

    &__title {
        font-size: 32px;
        font-weight: 900;
    }

    // .market__text

    &__text {
        font-size: 16px;
        color: #141414;
        font-weight: 400;
    }

    // .market__right

    &__right {
        // img{
        //     width: 100%;
        //     max-width: 665px;
        // }
    }
}
.container {
}


.sertificate {
    margin: 100px 0;
    // .sertificate__box

    &__box {
    }

    // .sertificate__title

    &__title {
        font-size: 30px;
        font-weight: 900;
        margin: 30px 0;
    }

    // .sertificate__img

    &__img {
    }
}

