.footer {
    margin-top: 100px;
    background-image: url(../assets/header-bgi.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    // .footer__wrapper
    
    &__wrapper {
        padding: 100px;
    }
    
    // .footer__rows
    
    &__rows {
        display: flex;
        justify-content: space-between;
    }

    // .footer__row

    &__row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .footer__logo

    &__logo {
        max-width: 300px;
        width: 100%;
    }

    // .footer__info

    &__info {
        font-weight: 900;
        font-size: 12px;
    }

    // .footer__contact

    &__contact {
        font-weight: 900;
        font-size: 16px;
    }

    // .footer__phone

    &__phone {
        font-size: 20px;
        font-weight: 900;
    }

    // .footer__text

    &__text {
        font-size: 12px;
        font-weight: 500;
    }

    // .footer__email

    &__email {
        font-size: 20px;
        font-weight: 900;
        display: flex;
        align-items: center;
    }

    // .footer__link

    &__link {
        font-weight: 900;
        color: black;
    }

    // .footer__lan

    &__lan {
        color: black;
        font-weight: 900;
        font-size: 20px;
        span{
            color: white;
        }
    }

    // .footer__soc

    &__soc {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        font-weight: 900;
        font-size: 14px;
    }
}
