.about {
    margin-top: 100px;
    background-image: url(../assets/about-rectangle.png);
    background-repeat: no-repeat;
    background-color: cover;
    background-position: center;
    
    // .about__wrapper
    
    &__wrapper {
        background-color: #F6F6F7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    // .about__logo

    &__logo {
        max-width: 600px;
        width: 100%;
    }

    // .about__wrapper-content

    &__wrapper-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 564px;
    }

    // .about__title

    &__title {
        font-size: 32px;
        color: #FBCC00;
        font-weight: 900;
    }

    // .about__text

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: #141414;
    }
}