.hero {
    background-image: url(../assets/hero-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 350px 0 83px;
    // .hero__wrapper

    &__wrapper {
    }

    // .hero__wrapper-title

    &__wrapper-title {
        text-align: center;
        font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
        color: white;
        background-color: #141414;
        padding: 15px 30px;
    }
}
