    * {
        font-family: "Roboto", sans-serif;
      }
/*       
      .container {
        width: 100%;
        max-width: 1360px;
        margin: 0 auto;
      } */
      .about2__wrapper-title {
        font-size: 32px;
        font-weight: 900;
        margin: 0px 0px 25px 0px;
      }
      
      .about2 img{
        width: 100%;
      }
      .sertificate {
        margin: 100px 0;
      }
      
      .sertificate__title {
        font-size: 30px;
        font-weight: 900;
        margin: 30px 0;
      }


    .container {
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section-title {
        color: #141414;
        font-size: clamp(1.5rem, 1.318rem + 0.81vw, 2rem);
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
        text-decoration-line: underline;
    }

    .catalog__title {
        color: #141414;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
    }

    .btn {
        display: block;
        margin: 50px auto 100px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        max-width: 230px;
        width: 100%;
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
        padding: 15px 30px;
        display: block;
        background: #141414;
    }
    /* why */
    .why {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .why .why__item {
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 77px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        width: 200px;
        height: 100px;
        border: 5px solid black;
    }

    .why p {
        padding: 10px 25px 9px 45px;
        color: #FBCC00;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
    }

    .why .item-1 {
        height: 80px;

    }

    .item {
        width: 200px;
        height: 100px;
        background-color: red;
    }

    .why .why__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .why .why__item-title {
        color: #141414;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
    }

    .item-1__title {
        padding: 0px 0px 0px 25px;
        color: #141414;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
    }

    .why .why__item-text {
        color: #141414;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
    }

    /* why-end */

    @media (max-width: 992px) {
        .info__wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .footer__rows{
            flex-wrap: wrap;
        }
        .sertificate__img{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }

    @media (max-width: 768px) {
        .info__wrapper {
            grid-template-columns: 1fr 1fr;
        }
        .about__wrapper{
            flex-direction: column;
        }
    }

    @media (max-width: 480px) {
        .info__wrapper {
            grid-template-columns: 1fr;
        }
        .footer__rows{
            flex-direction: column;
        }
    }